{
  "openapi": "3.0.0",
  "info": {
    "title": "Cambrian API",
    "version": "1.0.0",
    "description": "API for accessing DeFi protocol data across multiple chains"
  },
  "servers": [
    {
      "url": "https://opabinia.cambrian.org/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "All API requests require an API key passed in the x-api-key header. Example: curl -H \"x-api-key: YOUR_API_KEY\" \"https://opabinia.cambrian.org/api/v1/...\""
      }
    }
  },
  "paths": {
    "/chains": {
      "get": {
        "summary": "List supported chains",
        "description": "Returns information about supported blockchain networks",
        "operationId": "listChains",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": [
                  {
                    "columns": [
                      {
                        "name": "id",
                        "type": "UInt32"
                      },
                      {
                        "name": "name",
                        "type": "String"
                      }
                    ],
                    "data": [
                      [900, "solana"],
                      [8453, "base"]
                    ],
                    "rows": 2
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/price_hour": {
      "get": {
        "summary": "Get hourly USD price of a token",
        "description": "Returns historical hourly price data for a specified token. Limitations: Maximum 1000 hours of historical data, timestamps are in UTC format. Use /tokens endpoint to get list of valid token symbols.",
        "operationId": "getTokenPrice",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Token symbol. See /tokens endpoint for valid symbols",
            "required": true,
            "example": "PEPE",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of hours to return",
            "required": true,
            "example": 100,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": [
                  {
                    "columns": [
                      {
                        "name": "chain_id",
                        "type": "UInt32"
                      },
                      {
                        "name": "block_hour",
                        "type": "DateTime('UTC')"
                      },
                      {
                        "name": "address",
                        "type": "String"
                      },
                      {
                        "name": "symbol",
                        "type": "String"
                      },
                      {
                        "name": "price",
                        "type": "Float64"
                      }
                    ],
                    "data": [
                      [
                        8453,
                        "2025-04-11T19:00:00+00:00",
                        "0x52b492a33e447cdb854c7fc19f1e57e8bfa1777d",
                        "PEPE",
                        3.544197183112785e-08
                      ]
                    ],
                    "rows": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/solana/tokens": {
      "get": {
        "summary": "List Solana Tokens",
        "description": "Returns a paginated list of known tokens for the Solana chain. Limitations: Maximum 100 tokens per request, pagination required for full token list. Results include program ID (mint address), symbol, name, and decimal places. Use offset parameter for pagination through the complete token list.",
        "operationId": "listSolanaTokens",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (offset). Use with limit parameter for pagination through large result sets.",
            "required": true,
            "example": 0,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page. Maximum value is 100. Use with offset for pagination.",
            "required": true,
            "example": 100,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": [
                  {
                    "columns": [
                      {
                        "name": "program_id",
                        "type": "String"
                      },
                      {
                        "name": "symbol",
                        "type": "String"
                      },
                      {
                        "name": "name",
                        "type": "String"
                      },
                      {
                        "name": "decimals",
                        "type": "UInt8"
                      }
                    ],
                    "data": [
                      [
                        "12mcpYL84oMi8Hiinyjuv2Zq3F47tLLxjw1THLcAdKT2",
                        "ched",
                        "giggleched",
                        6
                      ]
                    ],
                    "rows": 100
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/solana/tokens/{programId}/holders": {
      "get": {
        "summary": "List Latest Solana Token Holders by Program ID",
        "description": "Returns a list of current token holders for a specific Solana token program ID.",
        "operationId": "listLatestSolanaTokenHolders",
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Token program ID (mint address)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": [
                  {
                    "columns": [
                      {
                        "name": "account",
                        "type": "FixedString(44)"
                      },
                      {
                        "name": "balance_raw",
                        "type": "UInt64"
                      },
                      {
                        "name": "balance_ui",
                        "type": "Float64"
                      }
                    ],
                    "data": [
                      [
                        "12mcpYL84oMi8Hiinyjuv2Zq3F47tLLxjw1THLcAdKT2",
                        1000000000000000000,
                        1.0
                      ]
                    ],
                    "rows": 1
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}